repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        files: \.sh$

  - repo: local
    hooks:
      - id: docker-compose-validate
        name: docker compose validate
        entry: bash -c "docker compose config"
        language: system
        pass_filenames: false
        stages: [pre-commit]
