#version: "3.9"

services:
  teleswitch:
    image: teleswitch:9.4-prod
    build:
      context: ./teleswitch
      dockerfile: Dockerfile

    container_name: teleswitch_alma_new
    restart: unless-stopped
    environment:
      TELE_HOME: /home/teleswitch/teleswitch
      TELE_CONF: /home/teleswitch/teleswitch/etc/teleswitch
      TELE_LOG: /home/teleswitch/teleswitch/var/log/teleswitch

      EXTERNAL_SIP_IP: 192.168.1.250
      EXTERNAL_RTP_IP: 192.168.1.250
      RTP_START_PORT: 18000
      RTP_END_PORT: 18005
      MAX_SESSIONS: 1000
      SESSION_RATE: 200
    ports:
      - "5070:5060/udp"
      - "5070:5060/tcp"
        #     - "8022:8021/tcp"
      - "18000-18005:18000-18005/udp"
    expose:
      - "8021"
    volumes:
      - ./teleswitch/config:/home/teleswitch/teleswitch/etc/teleswitch:ro
      - ./teleswitch/logs:/home/teleswitch/teleswitch/var/log/teleswitch
      - ./teleswitch/db:/var/lib/freeswitch/db
      - ./teleswitch/recordings:/var/lib/freeswitch/recordings

    cap_add:
      - SYS_NICE

    ulimits:
      rtprio: 65353
      nofile:
        soft: 1048576
        hard: 1048576
    networks:
      - sip_network

  teleplivo:
    build: ./teleplivo
    container_name: teleplivo
    restart: always

    ports:
      - "8085:8085"

    env_file:
      - .env

    environment:
      FREESWITCH_IP: teleswitch
      FREESWITCH_PORT: 8021

    volumes:
      - ./teleplivo/config:/config

    ulimits:
      nofile:
        soft: 500000
        hard: 500000

    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 4G

            #    depends_on:
            #      - teleswitch
    depends_on:
      teleswitch:
        condition: service_healthy

    networks:
      - sip_network


networks:
  sip_network:
    driver: bridge
